---
  {% set external_interfaces_kis = hostvars['gate'].network|selectattr('ifname', 'match', 'external_kis.*')|first %}
  {% set proxy_user = merged_vars.three_proxy.users | selectattr('login', 'match', 'observer') | first %}

  debug: no

  proxy:
    enabled: yes
    host: {{ external_interfaces_kis.ip.ipv4.ip }}
    port: {{ merged_vars.three_proxy.ports.socks }}
    type: socks5
    user: {{ proxy_user.login }}
    pass: {{ proxy_user.pw }}

  session_storage:
    storage_folder: /var/lib/observer

  formatter:
    templates_path: /etc/observer/templates

  output:
    telegram:
      token: '{{ telegram.bots.logger.token }}'
      targets:
      - name: Observers
        destination:
          rooms:
          - '{{ telegram.chats.log.id }}'

  input:
    journald:
      rules:
      - name: interface_status
        match:
          positive: 'kernel: .+? (?P<interface>({%- for interface in network -%}{{ interface.ifname }}{{ '|' if not loop.last else '' }}{%- endfor -%})): (?P<event>.*)'
        outputs:
        - Observers
{% for entry in merged_vars.observer.entryes.journald %}
      - name: "{{ entry.name }}"
        outputs:
        - Observers
        match:
          positive: "{{ entry.match.positive }}"
          {% if 'negative' in entry.match -%} negative: "{{ entry.match.negative }}" {%- endif %}

{% endfor %}

    logfile:
      positions_file: {{ observer_positions_file }}
      rules:
{% for entry in merged_vars.observer.entryes.logfile %}
      - name: "{{ entry.name }}"
        identifier: "{{ entry.identifier }}"
        path: "{{ entry.path }}"
        outputs:
        - Observers
        match:
          positive: "{{ entry.match.positive }}"
          {% if 'negative' in entry.match -%} negative: "{{ entry.match.negative }}" {%- endif %}

{% endfor %}

{% if merged_vars.observer.entryes.grafana is defined %}
    grafana:
      listen:
        interface: "{{ merged_vars.observer.entryes.grafana.listen.interface }}"
        port: {{ merged_vars.observer.entryes.grafana.listen.port }}
      outputs:
        - Observers
{% endif %}

  {% if observer_proxy is defined -%}
  proxy:
    host: '{{ observer_proxy.addr }}'
    port: {{ observer_proxy.port }}
    type: '{{ observer_proxy.proto }}'
  {# -#}
  {%- endif %}
