---
  debug: no

  session_storage:
    storage_folder: /var/lib/observer

  formatter:
    templates_path: /etc/observer/templates

  output:
    telegram:
      token: '{{ telegram.bots.logger.token }}'
      targets:
      - name: Observers
        destination:
          rooms:
          - '{{ telegram.chats.log.id }}'

  input:
    journald:
      rules:
      - name: interface_status
        match:
          positive: 'kernel: .+? (?P<interface>({%- for interface in network -%}{{ interface.ifname }}{{ '|' if not loop.last else '' }}{%- endfor -%})): (?P<event>.*)'
        outputs:
        - Observers
{% for entry in merged_vars.observer.entryes.journald %}
      - name: "{{ entry.name }}"
        outputs:
        - Observers
        match:
          positive: "{{ entry.match.positive }}"
          {% if 'negative' in entry.match -%} negative: "{{ entry.match.negative }}" {%- endif %}

{% endfor %}

    logfile:
      positions_file: {{ observer_positions_file }}
      rules:
{% for entry in merged_vars.observer.entryes.logfile %}
      - name: "{{ entry.name }}"
        identifier: "{{ inventory_hostname }}"
        path: "{{ entry.path }}"
        store_position: {{ entry.store_position }}
        outputs:
        - Observers
        match:
          positive: "{{ entry.match.positive }}"
          {% if 'negative' in entry.match -%} negative: "{{ entry.match.negative }}" {%- endif %}

{% endfor %}


  {% if observer_proxy is defined -%}
  proxy:
    host: '{{ observer_proxy.addr }}'
    port: {{ observer_proxy.port }}
    type: '{{ observer_proxy.proto }}'
  {# -#}
  {%- endif %}
