# Managed by ansible. Editing is useless
# Sheridan

[global_tags]
dc = "{{ networks.home.domain }}"

[agent]
  interval = "15s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = "{{ telegraf.log_file_location }}"
  hostname = "{{ inventory_hostname }}"
  ## If set to true, do no set the "host" tag in the telegraf agent.
  omit_hostname = false

[[outputs.prometheus_client]]
listen = "[::]:{{ merged_vars.telegraf.listen.port }}"
path = "/metrics"
expiration_interval = "60s"

[[inputs.processes]]

# [[inputs.interrupts]]
# cpu_as_tag = true
