# Managed by ansible. Editing is useless
# Sheridan

[global_tags]
dc = "{{ networks.home.domain }}"

[agent]
interval = "{{ merged_vars.monitoring.collect.interval }}s"
round_interval = true
metric_batch_size = {{ 2 | pow(10) | int }}
metric_buffer_limit = {{ 2 | pow(12) | int }}
collection_jitter = "{{ merged_vars.monitoring.collect.jitter }}s"
flush_interval = "{{ merged_vars.monitoring.collect.interval + merged_vars.monitoring.collect.jitter * 2 }}s"
flush_jitter = "{{ merged_vars.monitoring.collect.jitter }}s"
flush_buffer_when_full = true
debug = false
quiet = true
hostname = "{{ inventory_hostname }}"
omit_hostname = false

[[outputs.prometheus_client]]
listen = "[::]:{{ merged_vars.telegraf.listen.port }}"
path = "/metrics"
expiration_interval = "{{ merged_vars.monitoring.collect.interval + merged_vars.monitoring.collect.jitter * 2 }}s"

[[inputs.processes]]

# [[inputs.interrupts]]
# cpu_as_tag = true
