# Managed by ansible. Editing is useless
# Sheridan
{% set internal_interface = network|selectattr('ifname', 'match', 'internal_.*')|first %}

interface ignore all

{% for ip_ver in ['ipv6', 'ipv4'] -%}
    {%- if ip_ver in internal_interface.ip -%}
interface listen {{ internal_interface.ip[ip_ver].ip }}
{# -#}
    {%- endif -%}
{%- endfor -%}

# local stratum 10 if no gps
server 127.127.1.0
fudge 127.127.1.0 stratum 10

# GPS Serial data reference
server 127.127.28.0 minpoll 4 maxpoll 4
fudge 127.127.28.0 time1 0.0 refid GPS

# GPS PPS reference
server 127.127.28.2 minpoll 4 maxpoll 4 prefer
fudge 127.127.28.2 refid GPPS

server 127.127.20.0 mode 17 minpoll 4 maxpoll 4 iburst prefer
fudge 127.127.20.0 flag1 1 flag2 0 time2 1.0 refid PPSG


{% for server in merged_vars.ntpd.servers -%}
server {{ server }}
{# -#}
{%- endfor -%}


driftfile /var/lib/ntp/ntp.drift
leapfile /usr/share/zoneinfo/leap-seconds.list

restrict default nomodify nopeer noquery limited kod
restrict 127.0.0.1
restrict [::1]

restrict {{ networks.home.subnet.ipv4.net }} mask {{ networks.home.subnet.ipv4.mask.long }} nomodify nopeer notrap
restrict -6 {{ networks.home.subnet.ipv6.net }} mask {{ networks.home.subnet.ipv6.mask.long }} nomodify nopeer notrap

logconfig +all
logfile /var/log/ntp.log

# disable monitor
