---
  global:
    scrape_interval: {{ merged_vars.monitoring.collect.interval }}s
    evaluation_interval: {{ merged_vars.monitoring.collect.interval * 2 }}s
    scrape_timeout: {{ merged_vars.monitoring.collect.interval - 1 }}s

  scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: {{ merged_vars.monitoring.collect.interval }}s
    file_sd_configs:
    - files:
      - '/etc/prometheus/file_sd_configs/*.yaml'
  - job_name: 'octoprint'
    scrape_interval: {{ (merged_vars.monitoring.collect.interval / 2) | int }}s
    metrics_path: '/plugin/prometheus_exporter/metrics'
    params:
      apikey: ['80ACA68ABC39447AA33187B709E23513']
    static_configs:
      - targets:
        - 'octoprint'

  {# storage:
    tsdb:
      out_of_order_time_window: 1h #}

  rule_files:
  - '/etc/prometheus/rules/*.conf'
