---
  global:
    scrape_interval: {{ merged_vars.monitoring.collect.interval }}s
    evaluation_interval: {{ merged_vars.monitoring.collect.interval * 2 }}s

  scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: {{ merged_vars.monitoring.collect.interval }}s
    file_sd_configs:
    - files:
      - '/etc/prometheus/file_sd_configs/*.yaml'

  rule_files:
  - '/etc/prometheus/rules/*.conf'
