telegram:
  token: '{{ telegram.bots.logger.token }}'
  positions_file_location: {{ loggerbot_positions_file }}
  {% if loggerbot_proxy is defined -%}
  proxy:
    host: '{{ loggerbot_proxy.addr }}'
    port: {{ loggerbot_proxy.port }}
    type: '{{ loggerbot_proxy.proto }}'
  {# -#}
  {%- endif %}

sources:
{% for entry in merged_vars.loggerbot.entryes -%}
- match: "{{ entry.regexp }}"
  type: "{{ entry.type }}"
  chat_id: {{ telegram.chats.log.id }}
  msg_format: "{{ entry.title }}:\n```%s```"
{# -#}
{%- endfor -%}
- match: "kernel.*({%- for interface in network -%}{{ interface.ifname }}{{ '|' if not loop.last else '' }}{%- endfor -%})"
  type: "journal"
  chat_id: {{ telegram.chats.log.id }}
  msg_format: "Interface status:\n```%s```"
- match: "(>>> Downloading|saved)"
  type: 'file'
  path: /var/log/emerge-fetch.log
  chat_id: {{ telegram.chats.log.id }}
  store_position: False
  msg_format: "Portage fetch:\n```%s```"

{#-
  - match: .*Attached scsi generic.*
    type: 'file'
    path: /var/log/test/kernel
    chat_id: -1001278522486
    store_position: False
    msg_format: "Attached scsi generic -----  :\n```%s```"

  - match: .*
    type: 'journalctl'
    chat_id: -1001278522486
    store_position: True
    msg_format: "spc journalctl: ```%s```"

-#}
