
;; Managed by ansible. Editing is useless
;; Sheridan

{% for member in zone.members -%}
  {%- for address in member.addresses -%}
{{ member.name }} {{ address.type }} {{ address.address }}
{# -#}
  {%- endfor -%}
{%- endfor -%}
