[Unit]
Description=Telegram bot for pushing logs from files
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{ loggerbot_install_path }}/loggerbot.py {{ loggerbot_config_path }}/config.yaml
Restart=always
RestartSec=30
StandardOutput=journal
StandardError=journal
SyslogIdentifier=loggerbot
User={{ loggerbot_user }}

[Install]
WantedBy=multi-user.target
