{% set interface = network|selectattr('ifname', 'match', 'internal_.*')|first %}

interface {{ interface.ifname }}
{
    AdvSendAdvert on;
    # AdvDefaultPreference high;
    AdvManagedFlag on;
    AdvOtherConfigFlag on;

    prefix {{ networks.home.subnet.ipv6.full }}
    {
        AdvOnLink on;
        AdvAutonomous off;
        AdvRouterAddr off;
    };

    RDNSS {{ networks.home.gateway.ipv6.ip }}
    {
    };

    DNSSL {{ networks.home.domain }}
    {
    };

    # route ::/0 {};
};
