[Unit]
Description=PPPoE <--> %i over bridge_%i_0

[Service]
Type=simple
ExecStartPre=/bin/ip link set dev bridge_%i_0 up
ExecStart=/usr/sbin/pppd call %i
ExecStopPost=/bin/ip link set dev bridge_%i_0 down
SendSIGHUP=yes
PIDFile=/var/run/ppp-%i.pid
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
