# Managed by ansible. Editing is useless
# Sheridan

{% set internal_interface = network|selectattr('ifname', 'match', 'internal_.*')|first %}
{% set external_interface = network|selectattr('ifname', 'match', 'external_kis.*')|first %}

log /var/log/3proxy/main.log
logformat "[%d-%m-%Y %H:%M:%S] %U %C:%c %R:%r %O %I %T"

auth strong
{% for user in three_proxy_users %}
users {{ user.login }}:CL:{{ user.pw }}
{% endfor %}
allow *
parent 1000 connect 127.0.0.1 {{ three_proxy_http_port }}
{% for ext_ip in [
  internal_interface.ip.ipv4.ip,
  external_interface.ip.ipv4.ip
] %}
proxy -n -p{{three_proxy_http_port }} -i{{ ext_ip }}
{% endfor %}

auth strong
{% for user in three_proxy_users %}
users {{ user.login }}:CL:{{ user.pw }}
{% endfor %}
allow *
parent 1000 socks5+ 127.0.0.1 {{ three_proxy_socks_port }}
{% for ext_ip in [
  internal_interface.ip.ipv4.ip,
  external_interface.ip.ipv4.ip
] %}
socks -n -p{{ three_proxy_socks_port }} -i{{ ext_ip }}
{% endfor %}
