include "/usr/share/themes/{{ xorg_theme_name }}/gtk-2.0/gtkrc"
style "user-font"
{
  font_name="{{ xorg_fonts_regular_name }} {{ xorg_fonts_regular_size }}"
}
widget_class "*" style "user-font"

gtk-cursor-theme-name={{ xorg_cursor_name }}
