include "/usr/share/themes/{{ merged_vars.Xorg.theme.name }}/gtk-2.0/gtkrc"
style "user-font"
{
  font_name="{{ merged_vars.Xorg.fonts.regular.name }} {{ merged_vars.Xorg.fonts.regular.size }}"
}
widget_class "*" style "user-font"

gtk-cursor-theme-name={{ merged_vars.Xorg.cursor.name }}
