Xcursor.theme: {{ merged_vars.Xorg.cursor.name }}
Xcursor.size: {{ merged_vars.Xorg.cursor.size }}

Xft.dpi: {{ merged_vars.Xorg.options.dpi }}.0
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

!-- URxvt.intensityStyles:  false
!-- URxvt.allow_bold:       false
!-- URxvt.font:             xft:Ubuntu Mono:style=Regular:pixelsize=12
!-- URxvt.boldFont:         xft:Ubuntu Mono:style=Bold:pixelsize=12
!-- URxvt.saveLines:        8192

!-- URxvt.perl-ext-common: default,matcher,-searchable-scrollback,tabbed
!-- URxvt.url-launcher: /usr/bin/xdg-open
!-- URxvt.matcher.button: 1
