[Match]
Name={{ item.ifname }}
MACAddress={{ item.mac }}

[Network]
Description={{ item.name }}
DHCP=no
Address={{ item.ip.ipv4.addr }}
{% if 'v6' in item.ip %}
Address={{ item.ip.ipv6.addr }}
{% endif %}
{% if 'gateway' in networks[item.ip.ipv4.network] %}
Gateway={{ networks[item.ip.ipv4.network].gateway }}
{% endif %}
{% if networks[item.ip.ipv4.network].domain is defined %}
Domais={{ networks[item.ip.ipv4.network].domain }}
{% endif %}
