[Match]
Name={{ target_interface.ifname }}
{% if 'mac' in target_interface %}
MACAddress={{ target_interface.mac }}
{% endif %}

[Network]
Description={{ target_interface.name }}
DHCP=no
{% if 'ipv4' in target_interface.ip %}
Address={{ target_interface.ip.ipv4.addr | ipaddr('address') }}
{% endif %}
{% if 'ipv6' in target_interface.ip %}
Address={{ target_interface.ip.ipv6.addr | ipaddr('address') }}
{% endif %}
{% if 'gateway' in networks[target_interface.ip.ipv4.network] and networks[target_interface.ip.ipv4.network].gateway != target_interface.ip.ipv4.addr %}
Gateway={{ networks[target_interface.ip.ipv4.network].gateway | ipaddr('address') }}
{% endif %}
{% if networks[target_interface.ip.ipv4.network].domain is defined %}
Domains={{ networks[target_interface.ip.ipv4.network].domain }}
{% endif %}
{% if target_interface.tunnel is defined %}
Tunnel={{ target_interface.tunnel }}
{% endif %}
