# Managed by ansible. Editing is useless
# Sheridan

passwd:      compat files
shadow:      compat files
group:       compat files

hosts:       files resolve dns
networks:    files

services:    db files
protocols:   db files
rpc:         db files
ethers:      db files
netmasks:    files
netgroup:    files
bootparams:  files

automount:   files
aliases:     files
