# Managed by ansible.Editing is useless
# Sheridan

# reserved values
255     local
254     main
253     default
0       unspec

# local
#1      inr.ruhep

{% for external_interface in external_interfaces -%}
  {%- if 'route_table' in external_interface -%}
{{ external_interface.route_table }} to_{{ external_interface.ifname }}
{# -#}
  {%- endif -%}
{%- endfor -%}
