# Managed by ansible. Editing is useless
# Sheridan

{# LC_ALL="{{ locale.LC_ALL }}" #}
{# LANGUAGE="{{ locale.LANGUAGE }}" #}

LANG="{{ merged_vars.locale.default }}"
LC_COLLATE="{{ merged_vars.locale.lc.collate }}"
