[Match]
Name={{ target_interface.ifname }}
{% if 'mac' in target_interface %}
MACAddress={{ target_interface.mac }}
{% endif %}

[Network]
Description={{ target_interface.name }}
DHCP=no
{% for ip_ver in ['ipv6', 'ipv4'] %}
{% if ip_ver in target_interface.ip and target_interface.ip[ip_ver] != 'dynamic' %}
Address={{ target_interface.ip[ip_ver].prefixed }}
{% if 'gateway' in networks[target_interface.network] and
      ip_ver in networks[target_interface.network].gateway and
      networks[target_interface.network].gateway[ip_ver].ip != target_interface.ip[ip_ver].ip %}
Gateway={{ networks[target_interface.network].gateway[ip_ver].ip }}
{% endif %}
{% endif %}
{% endfor %}
{% if target_interface.network is defined and networks[target_interface.network].domain is defined %}
Domains={{ networks[target_interface.network].domain }}
{% endif %}
{% if target_interface.tunnel is defined %}
Tunnel={{ target_interface.tunnel }}
{% endif %}
