{% set interface = network|selectattr('ifname', 'match', 'internal_.*')|first %}
upstream {{ item.name }}
{
  server [{{ item.target.addr }}]:{{ item.target.port }};
}

server
{
  listen {{ interface.ip.ipv4.ip }}:80;
  listen [{{ interface.ip.ipv6.ip }}]:80;
  server_name          {{ item.name }}.{{ networks.home.domain }};
  access_log           /var/log/nginx/{{ item.name }}.access.log;
  error_log            /var/log/nginx/{{ item.name }}.error.log;
  client_max_body_size 50m;

  location /
  {
    proxy_pass         http://{{ item.name }};
    proxy_read_timeout 86400s;
    proxy_set_header   Host $http_host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_set_header   Authorization  "";
  }
}
