[Unit]
Description=Service: {{ timer.description }} (sheduled as timer)

[Service]
Type=oneshot
PIDFile=/run/sheduled-timer-{{ timer.name }}.pid
ExecStart={{ timer.command }}
User={{ timer.user }}

[Install]
WantedBy=default.target
