#!/bin/bash

{{ factorio.paths.home }}/bin/x64/factorio \
  --verbose \
  --start-server-load-latest \
  --port {{ factorio.port }} \
  --server-settings {{ factorio.paths.home }}/server-settings.json
