#!/bin/bash

{{ merged_vars.factorio.paths.home }}/bin/x64/factorio \
  --verbose \
  --start-server-load-latest \
  --port {{ merged_vars.factorio.port }} \
  --server-settings {{ merged_vars.factorio.paths.home }}/server-settings.json
