{# nat, ipv4 -#}
table ip nat {
  chain prerouting {
    type nat hook prerouting priority 0; policy accept;
    counter comment "count accepted packets"
  }

  chain input {
    type nat hook input priority 0; policy accept;
    counter comment "count accepted packets"
  }

  chain output {
    type nat hook output priority 0; policy accept;
    counter comment "count accepted packets"
  }

  chain postrouting {
    type nat hook postrouting priority 0; policy accept;
    {% for external_interface in external_interfaces -%}
        {%- if 'ipv4' in external_interface.ip -%}
    ip saddr {{ networks.home.subnet.ipv4.full }} {{ query('nft', 'as_oif', external_interface) }} counter masquerade
    {# -#}
        {%- endif -%}
    {%- endfor -%}
    counter comment "count accepted packets"
  }
}
