# Managed by ansible. Editing is useless
# Sheridan

[Journal]
Storage={{ merged_vars.journald.storage.type }}
Compress={{ 'yes' if merged_vars.journald.storage.compress else 'no' }}
Seal={{ 'yes' if merged_vars.journald.storage.seal else 'no' }}
SplitMode={{ merged_vars.journald.storage.split_mode }}
SyncIntervalSec=2m
RateLimitIntervalSec={{ 2 | pow(4) | int }}s
RateLimitBurst={{ 2 | pow(14) | int }}
SystemMaxUse={{ merged_vars.journald.sizes.system.max_filesystem_usage }}
SystemKeepFree={{ merged_vars.journald.sizes.system.keep_filesystem_free }}
SystemMaxFileSize={{ merged_vars.journald.sizes.system.max_file_size }}
SystemMaxFiles={{ merged_vars.journald.sizes.system.max_files }}
RuntimeMaxUse={{ merged_vars.journald.sizes.runtime.max_filesystem_usage }}
RuntimeKeepFree={{ merged_vars.journald.sizes.runtime.keep_filesystem_free }}
RuntimeMaxFileSize={{ merged_vars.journald.sizes.runtime.max_file_size }}
RuntimeMaxFiles={{ merged_vars.journald.sizes.runtime.max_files }}
MaxRetentionSec=0
MaxFileSec=0
ReadKMsg=yes
ForwardToSyslog=no
ForwardToKMsg=no
ForwardToConsole=yes
ForwardToWall=yes
TTYPath=/dev/tty12
MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelKMsg=notice
MaxLevelConsole=notice
MaxLevelWall=emerg
LineMax={{ 2 | pow(16) | int }}
