# Managed by ansible. Editing is useless
# Sheridan

[Journal]
Storage={{ journald_storage_type }}
Compress={{ 'yes' if journald_storage_compress else 'no' }}
Seal={{ 'yes' if journald_storage_seal else 'no' }}
SplitMode={{ journald_storage_split_mode }}
SyncIntervalSec=2m
RateLimitIntervalSec={{ 2 | pow(4) | int }}s
RateLimitBurst={{ 2 | pow(14) | int }}
SystemMaxUse={{ journald_sizes_system_max_filesystem_usage }}
SystemKeepFree={{ journald_sizes_system_keep_filesystem_free }}
SystemMaxFileSize={{ journald_sizes_system_max_file_size }}
SystemMaxFiles={{ journald_sizes_system_max_files }}
RuntimeMaxUse={{ journald_sizes_runtime_max_filesystem_usage }}
RuntimeKeepFree={{ journald_sizes_runtime_keep_filesystem_free }}
RuntimeMaxFileSize={{ journald_sizes_runtime_max_file_size }}
RuntimeMaxFiles={{ journald_sizes_runtime_max_files }}
MaxRetentionSec=0
MaxFileSec=0
ReadKMsg=yes
ForwardToSyslog=no
ForwardToKMsg=no
ForwardToConsole=yes
ForwardToWall=yes
TTYPath=/dev/tty12
MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelKMsg=notice
MaxLevelConsole=notice
MaxLevelWall=emerg
LineMax={{ 2 | pow(16) | int }}
