# Managed by ansible. Editing is useless
# Sheridan

{% if pppoe[provider].debug | default(False) %}
debug
dump
{%endif %}

{% set bridge_interface = network|selectattr('ifname', 'match', 'bridge_' + provider + '.*')|first %}
{% set external_interface = network|selectattr('ifname', 'match', 'external_' + provider + '.*')|first %}
plugin rp-pppoe.so {{ bridge_interface.ifname }}
ifname {{ external_interface.ifname }}
name "{{ pppoe[provider].login }}"
user "{{ pppoe[provider].login }}"
linkname {{ provider }}
persist
noipdefault
nodefaultroute
hide-password
default-asyncmap
noauth
mtu {{ pppoe[provider].mtu }}
mru {{ pppoe[provider].mru }}
nodetach

{# -- compression -- -#}
noaccomp
nodeflate
nopcomp
novj
novjccomp
nobsdcomp
noccp
lcp-echo-interval {{ pppoe[provider].lcp_echo.interval }}
lcp-echo-failure {{ pppoe[provider].lcp_echo.failures }}
