
{%- set enabled_collectors = merged_vars.node_exporter.collectors.enabled|sort|unique -%}
[Unit]
Description=Node exporter service
After=network.target

[Service]
User=node_exporter
Restart=on-failure
ExecStart=/usr/bin/node_exporter \
      {% for collector in enabled_collectors %}
      --collector.{{ collector }} \
      {% endfor -%}
      {% for collector in (node_exporter_all_collectors|difference(enabled_collectors))|sort|unique %}
      --no-collector.{{ collector }} \
      {% endfor -%}
      --web.listen-address=[::]:{{ merged_vars.node_exporter.listen.port }} \
      --collector.diskstats.ignored-devices="^(ram|loop|fd)\d+$" \
      --collector.filesystem.ignored-mount-points="^/(sys|proc|dev|run)($|/)" \
      --collector.textfile.directory="{{ merged_vars.node_exporter.textfile_dir }}/"

[Install]
WantedBy=multi-user.target
