smartctl_exporter:
  bind_to: "{{ '[::1]' if inventory_hostname == 'gate' else inventory_hostname }}:{{ merged_vars.smartctl_exporter.listen.port }}"
  url_path: "/metrics"
  smartctl_location: /usr/sbin/smartctl
  collect_not_more_than_period: 120s
  devices:
{% for dev in merged_vars.hardware.storage %}
  - {{ dev.device }}
{% endfor %}
