{% set he_interface = network|selectattr('ifname', 'match', 'external_he.*')|first %}
[Match]
Name={{ he_interface.ifname }}

[Network]
Address={{ he_interface.ip.ipv6.prefixed }}
Gateway={{ networks.henet.gateway.ipv6.ip }}
