[Settings]
gtk-font-name={{ xorg_fonts_regular_name }} {{ xorg_fonts_regular_size }}
gtk-theme-name={{ xorg_theme_name }}
gtk-icon-theme-name={{ xorg_icons_name }}
gtk-cursor-theme-name={{ xorg_cursor_name }}
gtk-fallback-icon-theme=hicolor
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-menu-images=1
gtk-button-images=1
