[Settings]
gtk-font-name={{ merged_vars.X.fonts.regular.name }} {{ merged_vars.X.fonts.regular.size }}
gtk-theme-name={{ merged_vars.X.theme.name }}
gtk-icon-theme-name={{ merged_vars.X.icons.name }}
gtk-cursor-theme-name={{ merged_vars.X.cursor.name }}
gtk-fallback-icon-theme=hicolor
gtk-toolbar-style=GTK_TOOLBAR_ICONS
gtk-menu-images=1
gtk-button-images=1
