# Managed by ansible. Editing is useless
# Sheridan

GRUB_DISTRIBUTOR="{{ grub2_distributor }} : {{ inventory_hostname }}"

GRUB_DEFAULT={{ grub2_menu_default }}
GRUB_TIMEOUT={{ grub2_menu_timeout }}
GRUB_TIMEOUT_STYLE=menu

{% if grub2_boot_device != 'auto' %}
GRUB_DEVICE={{ grub2_boot_device }}
{% endif %}

{% set rootfstype = ( 'rootfstype=' + grub2_boot_fs ) if grub2_boot_fs != 'auto' else '' %}
{% set dobtrfs = 'dobtrfs' if grub2_boot_fs == 'btrfs' else '' %}
GRUB_CMDLINE_LINUX="init=/usr/lib/systemd/systemd {{ rootfstype }} {{ dobtrfs }} {{ grub2.kernel.options | join(' ') }}"

{% set video = ( 'video=vesafb:' + grub2_video_resolution + '-' + grub2_video_colorbits + ',mtrr:' + grub2_video_mtrr + ',ywrap' ) if grub2_video_resolution != 'auto' else ( 'vga=' + grub2_video_vga ) %}
GRUB_CMDLINE_LINUX_DEFAULT="{{ video if not grub2_video_uefi else 'video=efifb:' + grub2_video_resolution + '-' + grub2_video_colorbits }}"

{# Uncomment to disable graphical terminal (grub-pc only) #}
#GRUB_TERMINAL=console

{% set gfx = ( grub2_video_resolution + 'x' + grub2_video_colorbits ) if grub2_video_resolution != 'auto' else ( 'auto' ) %}
GRUB_GFXMODE={{ gfx }}
GRUB_GFXPAYLOAD_LINUX=keep

GRUB_THEME="{{ grub2_theme }}"
#GRUB_BACKGROUND="/boot/grub/mybackground.png"
#GRUB_DISABLE_LINUX_UUID=true
#GRUB_DISABLE_RECOVERY=true

#GRUB_DISABLE_SUBMENU=y
GRUB_INIT_TUNE="{{ grub2_sound }}"

GRUB_DISABLE_OS_PROBER=1
