
#Managed by ansible. Editing is useless
#Sheridan

zone "{{ networks.home.domain }}" in
{
        type master;
        file "/etc/bind/pri/{{ networks.home.domain }}.zone";
        notify yes;
};

# zone "{{ networks.home.subnet.ipv4.reverse }}" in
# {
#         type master;
#         file "/etc/bind/pri/{{ networks.home.subnet.ipv4.reverse }}zone";
#         notify yes;
# };
# TODO: Сделать arpa!
