
;; Managed by ansible. Editing is useless
;; Sheridan

$ORIGIN {{ networks.home.domain }}.
$TTL {{ 60*60*8 }}
@ IN SOA ns.{{ networks.home.domain }}. root.{{ networks.home.domain }}. (
  {{ ansible_date_time.epoch }} ; serial
  {{ 60*60*24 }} ; refresh
  {{ 60*15 }} ; rertry
  {{ 60*60*24*7*2 }} ; expire
  {{ 60*60*24*7 }} ; minimum
)
@ IN NS ns
@ A {{ networks.home.gateway.ipv4.ip }}
@ AAAA {{ networks.home.gateway.ipv6.ip }}

{% for root_ns in ['ns', 'root'] -%}
{{ root_ns }} A {{ networks.home.gateway.ipv4.ip }}
{{ root_ns }} AAAA {{ networks.home.gateway.ipv6.ip }}
{# -#}
{%- endfor -%}

{% for inventory_hostname in query('inventory_hostnames', 'all')|sort -%}
  {%- for interface in hostvars[inventory_hostname].network -%}
    {%- if 'ifname' not in interface or ( 'ifname' in interface and 'external' not in interface.ifname ) -%}
      {%- set aliases = [] -%}
      {%- for ip_ver in ['ipv4', 'ipv6'] -%}
        {%- if ip_ver in interface.ip and interface.ip[ip_ver] != 'dynamic' -%}
{{ inventory_hostname }} {% if ip_ver == 'ipv4' %} A {% else %} AAAA {% endif %} {{ interface.ip[ip_ver].ip }}
{# -#}
        {%- endif -%}
      {%- endfor -%}
      {%- if 'dns' in interface and 'aliases' in interface.dns -%}
        {%- for alias in interface.dns.aliases|sort -%}
{{ alias }} CNAME {{ inventory_hostname }}
{# -#}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
