{% set interface = network|selectattr('ifname', 'match', 'internal_.*')|first %}

interface {{ interface.ifname }}
{
    AdvSendAdvert on;
    AdvManagedFlag on;
    AdvOtherConfigFlag on;
    AdvHomeAgentFlag on;
    MinRtrAdvInterval {{ radvd.interval }};
    MaxRtrAdvInterval {{ radvd.interval * 10 }};

    prefix {{ networks.home.subnet.ipv6.full }}
    {
        AdvOnLink on;
        AdvAutonomous off;
        AdvRouterAddr on;
    };

    RDNSS {{ networks.home.gateway.ipv6.ip }} {};

    DNSSL {{ networks.home.domain }} {};
};
