[Unit]
Description=Prometheus Server
After=network.target

[Service]
User=prometheus
Restart=on-failure
ExecStart=/usr/bin/prometheus \
        --config.file=/etc/prometheus/prometheus.yaml \
        --storage.tsdb.path=/var/lib/prometheus/metrics \
        --storage.tsdb.retention="{{ prometheus.data_retention }}" \
        --web.console.templates=/etc/prometheus/consoles \
        --web.console.libraries=/etc/prometheus/console_libraries \
        --web.listen-address=[{{ prometheus.listen.addr }}]:{{ prometheus.listen.port }} \
        --web.enable-admin-api

[Install]
WantedBy=multi-user.target
