[log]
enabled=false
file={{ homed_log_root }}/cloud.log
timestamps=false

[mqtt]
host={{ homed_mqtt_host }}
port={{ homed_mqtt_port }}
username={{ mqtt_users.homed.login }}
password={{ mqtt_users.homed.pw }}
prefix=homed

[cloud]
host=cloud.homed.dev
port=8042
uniqueid={{ homed_secrets.cloud.id }}
token={{ homed_secrets.cloud.token }}
