# Managed by ansible. Editing is useless
# Sheridan

{% set interface_ipv4  = network | selectattr('ifname', 'match', 'external_kis_.*') | first %}
{% set interfaces_ipv6 = network | selectattr('ifname', 'match', 'external_he_.*')  | first %}

server
{
  listen {{ interface_ipv4.ip.ipv4.ip }}:80;
  listen [{{ interfaces_ipv6.ip.ipv6.ip }}]:80;
  server_name          {{ target.name }}.sheridan-home.ru;
  access_log           /var/log/nginx/{{ target.name }}.access.log combined gzip=9;
  error_log            /var/log/nginx/{{ target.name }}.error.log warn;
  client_max_body_size 1024m;

  {% if 'auth' in target -%}
  auth_basic "{{ target.name }} restricted area";
  auth_basic_user_file /etc/nginx/sites/{{ target.name }}.auth;
  {%- endif %}

  location /
  {
    root /var/www/{{ target.name }}/;
    index {{ target.index | default('index.html') }};
    autoindex off;
  }
}
