# Managed by ansible. Editing is useless
# Sheridan

{% set proxy_to = target.to | default('internal') %}

upstream {{ target.name }}_upstream
{
  server {% if target.addr | ipv6 -%} [{{ target.addr }}] {%- else -%} {{ target.addr }} {%- endif %}:{{ target.port }};
}

{% if proxy_to in ['both', 'internal'] %}
{% set interface = network|selectattr('ifname', 'match', 'internal_.*')|first %}
server
{
  listen {{ interface.ip.ipv4.ip }}:80;
  listen [{{ interface.ip.ipv6.ip }}]:80;
  server_name          {{ target.name }}.{{ networks.home.domain }};
  access_log           /var/log/nginx/{{ target.name }}.access.log combined gzip=9;
  error_log            /var/log/nginx/{{ target.name }}.error.log warn;
  client_max_body_size 50m;

  location /
  {
    proxy_pass         http://{{ target.name }}_upstream;
    proxy_read_timeout 86400s;
    proxy_set_header   Host $http_host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_set_header   Authorization  "";
  }
}
{% endif %}

{% if proxy_to in ['both', 'external'] %}
{% set interfaces = network|selectattr('ifname', 'match', 'external_.*') %}
server
{
  {# -#}
{% for interface in interfaces -%}
    {%- if interface.type in ['static'] -%}
        {%- for ip_ver in ['ipv6', 'ipv4'] -%}
            {%- if ip_ver in interface.ip -%}
  listen {% if ip_ver == 'ipv6' -%} [{{ interface.ip[ip_ver].ip }}] {%- else -%} {{ interface.ip[ip_ver].ip}} {%- endif %}:80;
  {# -#}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}

  server_name          {{ target.name }}.sheridan-home.ru;
  access_log           /var/log/nginx/{{ target.name }}.internet.access.log combined gzip=9;
  error_log            /var/log/nginx/{{ target.name }}.internet.error.log warn;
  client_max_body_size 50m;

  location /
  {
    proxy_pass         http://{{ target.name }}_upstream;
    proxy_read_timeout 86400s;
    proxy_set_header   Host $http_host;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_set_header   Authorization  "";
  }
}
{% endif %}
