[Unit]
Description=Iptables (%i) load-save service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firewall-load.sh %i
ExecStop=/usr/local/bin/firewall-save.sh %i
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
