[Unit]
Description=PPPoE <--> %i over bridge_%i_0

[Service]
Type=simple
ExecStart=/usr/sbin/pppd call %i
SendSIGHUP=yes
PIDFile=/var/run/ppp-%i.pid
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
