# Managed by ansible. Editing is useless
# Sheridan

[Journal]
Storage=auto
Compress=yes
Seal=no
SplitMode=uid
SyncIntervalSec=8m
RateLimitIntervalSec=16s
RateLimitBurst=1024
#SystemMaxUse=
#SystemKeepFree=
#SystemMaxFileSize=
#SystemMaxFiles=100
#RuntimeMaxUse=
#RuntimeKeepFree=
#RuntimeMaxFileSize=
#RuntimeMaxFiles=100
MaxRetentionSec=32day
MaxFileSec=16day
ForwardToSyslog=no
ForwardToKMsg=no
ForwardToConsole=yes
ForwardToWall=yes
TTYPath=/dev/tty12
MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelKMsg=notice
MaxLevelConsole=debug
MaxLevelWall=emerg
#LineMax=48K
