include "/usr/share/themes/{{ merged_vars.X.theme.name }}/gtk-2.0/gtkrc"
style "user-font"
{
  font_name="{{ merged_vars.X.font.name }} {{ merged_vars.X.font.size }}"
}
widget_class "*" style "user-font"

gtk-cursor-theme-name={{ merged_vars.X.cursor.name }}
