[Unit]
Description={{ service.description }}
{% for order in ['After', 'Before', 'Requires', 'Wants'] -%}
  {%- if order|lower in service -%}
    {%- for target in service[order|lower] -%}
{{ order }}={{ target }}
{# -#}
    {%- endfor -%}
  {%- endif -%}
{%- endfor %}

[Service]
Type={{ service.type | default('simple') }}
PIDFile={{ service.pid_file | default('/run/' + service.name + '.pid') }}
{% if 'exec_start'     in service -%} ExecStart={{ service.exec_start }}                  {{- '\n' -}} {%- endif -%}
{% if 'exec_stop'      in service -%} ExecStop={{ service.exec_stop }}                    {{- '\n' -}} {%- endif -%}
{% if 'exec_reload'    in service -%} ExecReload={{ service.exec_reload }}                {{- '\n' -}} {%- endif -%}
{% if 'exec_start_pre' in service -%} ExecStartPre={{ service.exec_start_pre }}           {{- '\n' -}} {%- endif -%}
{% if 'exec_start_post'in service -%} ExecStartPost={{ service.exec_start_post }}         {{- '\n' -}} {%- endif -%}
{% if 'exec_stop_post' in service -%} ExecStopPost={{ service.exec_stop_post }}           {{- '\n' -}} {%- endif -%}
{% if 'environments'   in service -%} EnvironmentFile=/etc/default/{{ service.name }}.env {{- '\n' -}} {%- endif -%}
{% if 'working_dir'    in service -%} WorkingDirectory={{ service.working_dir }}          {{- '\n' -}} {%- endif -%}
User={{ service.user | default('root') }}
Group={{ service.group | default('root') }}
SyslogIdentifier={{ service.syslog_identifier | default(service.name) }}
Restart={{ service.restart | default('no' if service.type | default('simple') in ['oneshot'] else 'always') }}
RemainAfterExit={{ 'yes' if service.remain_after_exit | default(False) else 'no' }}
RestartSec={{ service.restart_sec | default('100ms') }}
StandardOutput={{ service.standard_output | default('journal') }}
StandardError={{ service.standard_error | default('journal') }}


[Install]
{% if 'wanted_by' in service -%}
  {%- for wanted_by in service.wanted_by-%}
WantedBy={{ wanted_by }}
{# -#}
  {%- endfor -%}
{%- endif %}
